[Unit]
Description=Sync from gtk places to kde bookmarks
ConditionUser=!root

[Service]
SystemCallArchitectures=native
Type=oneshot
ExecStart=/usr/share/sync-kde-and-gtk-places/sync-from-gtk-to-kde.sh

[Install]
WantedBy=default.target
